
/* variables for most commonly used colors */
:root {
    --primary: hotpink;
    --secondary: rgb(255, 189, 223);
}
body{
    background-color: var(--secondary);
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* header styling begins */
header {
    background-color: rgb(247, 120, 184);
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding: 10px;
    align-items: center;


}

header h1 {

color: var(--primary);
font-size: 25px;
font-weight:bold;
font-family:fantasy;
background-color: var(--secondary);
box-shadow: 3px 3px 5px;
border: 2px solid rgb(192, 131, 222);
width:400px;
height:100px;
padding-block: 10px;



}

header img {
    height: 75px;

}
header nav {
    margin: 35px;
}

header nav ul {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;

}

header nav ul li a {
    padding: 3px;
    font-size: 25px;
    margin: 20px 20px 0 0;
    font-weight: lighter;
    
}

header nav ul li a:hover {
    color: rgb(254, 9, 132);
    background-color: var(--secondary);
   
}
/* hero styling begins */
.hero {
    background-image: url(CEEC5519-FE05-4083-8EF1-DC4B8AED8F1E_4_5005_c.jpeg);
    height: 200px;
    padding: 150px;
    
}
.hero p {
    font-size: 30px;
    display:flex;
    justify-content: end;
    color:var(--primary);
    text-align: right;
    
}

.hero span {
    font-family: fantasy;
    font-size: 40;
}

.title {
border-right: 5px solid;
min-height: 100px;
text-align: right;
padding-right: 40px;
min-width: 20%;
max-width: 20%;

}

.title h2 {
    font-size: 50px;
}

/* about me styling begins */
 .about-me {
    display:flex;
    justify-content: space-between;
    color: var(--primary);
    align-items: stretch;
    padding-top:30px;

 }
.about-me p {
    font-size: 25px;
    line-height: 2;
    padding: 0 30px;
    width: 90%;

}
.my-work {
    padding: 50px 0;
    display:flex;
    justify-content:space-between;
    background-color:var(--primary);

}
/* my work styling begins */
.my-work h2 {
        font-size: 50px;
    
    }

.projects-grid {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;

    }

.projects {
    width:75%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows:auto;
    gap:10px;

}


.label {
    border: solid;
    color:aliceblue;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-decoration: none;
    background-size: cover;
    background-position: center;
}

.horiseon {
    grid-column: 1/3;
    grid-row: span 2;
    background-image: url("/Users/barsanti/Portfolio/CEEC5519-FE05-4083-8EF1-DC4B8AED8F1E_4_5005_c.jpeg");
    background-size: cover;
   
}

.surf-report {
    background-image:url("/Users/barsanti/Portfolio/92B628CC-783B-46D2-AA33-CD960A84A655_4_5005_c.jpeg");
    background-position: 50% 15%;
}
 
.calculator {
    background-image: url("/Users/barsanti/Portfolio/92B628CC-783B-46D2-AA33-CD960A84A655_4_5005_c.jpeg");
    background-position: 60% 50%;
}

.puzzle {
   background-image: url("/Users/barsanti/Portfolio/92B628CC-783B-46D2-AA33-CD960A84A655_4_5005_c.jpeg");
}

.project5{
  background-image:  url("/Users/barsanti/Portfolio/92B628CC-783B-46D2-AA33-CD960A84A655_4_5005_c.jpeg");
}

.project-label{
    padding: 10px;
}
/* contact me styling begins */
footer {
    display:flex;
  
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.Contact-Me  h2{
    font-size: 50px;
    color: var(--primary);
    align-content: center;
}
.contact {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.contact-list{
    width: 50%;
    display:flex;
    justify-content: center;
    

}


footer ul {

    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-content: top;
    font-size:30px;
    

    }

footer ul li a {
text-decoration: none;
color:var(--primary);
padding: 5px;

    }
footer ul li {
    margin-left: 10px;
    padding-bottom: 25px;
}


footer h3{
    color: var(--primary);
    font-size: 20px;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
 

}
/* media query for tablet screens */
@media screen and (max-width: 768px) {
.hero p {
    font-size:20px;
    padding-right:20px;
}
.hero span {
        font-size:30px;
 }

 .title h2 {
    font-size:40px;
 }

.about-me p {
    font-size:20px;

}
/* media query for phone screens */

@media screen and (max-width: 575px)
header {
    justify-content-center;
    padding: 18px;

}
header nav ul {
    min-height: 75px;

}

.hero {
    flex-direction: column;
}

.about-me {
    flex-direction: column;
}
 
.title {
    border-bottom: 5px;
    text-align: center;
    
}

.about-me p {
    font-size: 15px;
    width: 100%;
    padding: 15px;
}

.my-work {
    flex-direction: column;
    padding: 30px 0;
}

.projects-grid {
    width: 100%;
padding: 10px;
}

.projects {
    width: 80%;
}

footer {
    flex-direction: column;
}

footer ul {
    flex-direction: column ;
}

footer ul li {
    text-align: center;
    padding: 10px;
}
